@font-face {
    font-family: Gotham;
    src: url(../fonts/GothamBlack.otf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans.ttf);
}

@font-face {
    font-family: Brandon;
    src: url(../fonts/brandon_bld.otf);
}

body{
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    background:#fff;
}

/* Nav */
header{
    with: 100%;
    height: 100px;
}

.menu{
    width: 100%;
    height: 100px;
}

.logo {
    position: relative;
    margin-top:30px;
    margin-left: 10%;
    display: inline-block;
}

nav{
    position: relative;
    font-family: 'Loto', sans-serif;
    font-size: 13.5pt;
    font-weight: 600;
    float:right;
    margin-top:45px;
    margin-right: 3%;
    display: inline-block;
    height: 50px;
}

nav a{
    color: #bfbfbf;
    text-decoration: none;
}



.nav-link a{
    padding: .45em 0.4em;
    color: #bfbfbf;
    text-decoration: none;
}

.nav-link a:hover {
    color: #fff;
    width: 100%;
    height: 50px;
    background-color: #ffbb42;
    border-radius: 2px;
    transition: opacity .2s linear;
    text-decoration: none;
}

.nav-link a.active {
    color: #bfbfbf;
}


/* Banner */
.banner{
    position:relative;
    width: 100%;
    height: 800px;
}

.content{
    width: 100%;
    background-color: #709dca;
    height: 580px;
}

.banner-text{
    color:#fff;
    text-align: center;
    padding-top:110px;
    line-height: 0.2;
}

.banner-text h1{
    font-size: 35pt;
    font-family: 'Gotham', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-text h2{
    font-size: 16pt;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
}

.banner-form{
    width: 100%;
    text-align:center;
    padding-top: 30px;
}

.banner-sub {
    padding:5px 15px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    background-color: #ffbb42;
    width: 200px;
    height: 50px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
}

.banner-input{
    width: 260px;
    height: 48px;
    border:0 none;
    margin-right: 10px;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    color:#a9a9a9;
    font-size: 13pt;
	outline: none;
}

.icon{
	position:relative;
	width:30px;
	top:-15px;
	height:50px;
	display: inline-block;
	border:0 none;
	-webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
	background-color:#fff;
	text-align:center;
}

.icon>img{
	position: relative;
	padding-left: 5px;
	top:15px;
}

.laptop{
    padding-top:30px;
    text-align: center;
}

.slider{
    padding-top:10px;
    text-align: center;
}

::-webkit-input-placeholder {color:#a9a9a9; opacity:1;}/* webkit */
  ::-moz-placeholder          {color:#a9a9a9; opacity:1;}/* Firefox 19+ */
  :-moz-placeholder           {color:#a9a9a9; opacity:1;}/* Firefox 18- */
  :-ms-input-placeholder      {color:#a9a9a9; opacity:1;}/* IE */


/* Service */

.service{
	width: 100%;
	height: 600px;
	margin:0 auto;
	position: relative;
    text-align: center;
}

.service_heading{
	line-height: 0.2;
}


.service_heading h1{
    color: #394b50;
    font-size: 2.2em;
    font-weight: 900;
    text-transform: uppercase
}

.service_heading h2{
    color: #394b50;
    font-size: 1.2em;
    font-weight: 500;
}

.item{
	text-align:justify;
    color: #7b7b7b;
    font-size: 0.92em;
    font-weight: 400;
    line-height: 1.5;
	width: 30%;
	height: 150px;
	display: inline-block;
	margin-left:100px;
	margin-right:30px;
}

.item img {
	position:relative;
	margin-left:-75px;
	margin-bottom:-75px;
	display: inline-block;
}

.item h1{
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    color: #394b50;
    font-weight: 900;
    text-transform: uppercase;
}

/* About */

.about{
    position:relative;
    width: 100%;
    height: 650px;
    background-color: #ffc155;
    color: #fff;
    outline: none;
    text-decoration: none;
}

.about-img{
    width: 50%;
    height: 100%;
    display:inline-block;
}

.about-img img{
    width: 100%;
    height: 100%;
}

.about-text{
    position:absolute;
    width: 40%;
    height: 100%;
    font-size: 0.98em;
    margin-left: 80px;
    top: 100px;
    display:inline-block;
}

.about-text h1{
    font-size: 30pt;
    font-family: 'Gotham', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.about-text h2{
    font-size: 13pt;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}

.read-more{
    position:relative;
    font-size: 14pt;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border:1px solid #e7ad48;

    text-align: center;
    vertical-align:middle;
    display:table-cell;
    padding: 9px 18px;
    outline: none;
    text-decoration: none;
}

.read-more:visited {
    text-decoration: none;
    color: #fff;
}

/* Pricing */

.pricing{
    text-align: center;
    background-color: #e7edf3;
    padding-top:120px;
    position:relative;
    width: 100%;
    height: 900px;
    color: #fff;
    line-height: 0.3;
}

.pricing h1{
    font-size: 30pt;
    color:#394b50;
    font-family: 'Gotham', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.pricing h2{
    font-size: 16pt;
    color:#75888d;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}
.item-wrap{
    height: 520px;
    width: 100%;
    text-align: center;
    position:relative;
}

.pricing-item{
    position:relative;
    margin-top:80px;
    height: 490px;
    width: 400px;
    background-color: #fff;
    display:inline-block;
}

.pricing-item h1{
    font-size: 20pt;
    margin-top:55px;
    margin-bottom: 55px;
    color:#818b95;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

.price{
    font-size: 60pt;
    color:#ffbb42;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.price p{
    margin-top:40px;
    font-size: 20pt;
    color:#818b95;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}
.price sup{
    font-size: 40pt;
}

.price-item{
    margin-left:35px;
    font-size: 13.5pt;
    color:#b5bbc1;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    width:300px;
    text-transform: uppercase;
    padding: 20px 10px;
    border-top: 2px solid #e2e9f0;
}

.get-started{
    position:relative;
    top:35px;
    padding: 15px 20px;
    outline: none;
    text-decoration: none;
    background-color: #ffbb42;
    font-size: 14pt;
    color:#fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width:300px;
    text-transform: uppercase;
    border-radius: 2px;
}

.pricing-item-active{
    position:relative;
    z-index:1;
    top:20px;
    margin-left:-10px;
    margin-right:-10px;
    height: 510px;
    width: 400px;
    background-color: #709dca;
    display:inline-block;
}

.pricing-item-active h1{
    color:#fff;
    font-size: 25pt;
    margin-top:85px;
    margin-bottom: 55px;
}

.pricing-item-active .price{
    color:#fff;
}

.pricing-item-active .price p{
    color:#fff;
}

.pricing-item-active .price-item{
    color:#c2e1ff;
}

/* how-it-work */

.how-it-work{
    width: 100%;
    height: 700px;
    text-align: center;
    line-height: 0.1;
}

.how-it-work h1 {
    font-size: 30pt;
    margin-top:55px;
    color:#394b50;
    font-family: 'Gotham', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.how-it-work h2 {
    font-size: 18pt;
    margin-bottom: 85px;
    color:#394b50;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}

.step{
    display: inline-block;
    width:200px;
    line-height: 1.5;
    font-size: 9pt;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    color: #7b7b7b;
    margin-right:100px;
}

.step img{
    position:relative;
    margin-bottom: 50px;
}

.step h1{
    font-size: 20pt;
    color:#394b50;
    margin-bottom:20px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.arrow-bot{
    position:absolute;
    margin-left:-125px;
    margin-top:-20px;
}

.arrow-up{
    position:absolute;
    margin-left:-135px;
    margin-top:80px;
}

.how-it-work .get-started{
    position:relative;
    top:100px;
}

/* comment */
.comment{
    width: 100%;
    height: 1000px;
    background-color: #ffc155;
    text-align: center;
}

.comment h1 {
    position:relative;
    font-size: 30pt;
    padding-top: 150px;
    margin-bottom: -30px;
    color:#fff;
    font-family: 'Gotham', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.comment h2 {
    font-size: 18pt;
    margin-bottom: 85px;
    color:#fff;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}

.comment-item{
    width:45%;
    height: 250px;
    background-color: #fff;
    display:inline-block;
    margin-bottom:20px;
    margin-left:40px;
    border-radius: 2px;
    line-height: 1.5;
}

.comment-item img {
    position: relative;
    float:left;
    margin-left:30px;
    margin-top:50px;
}

.text-comment{
    position:relative;
    width: 65%;
    float:right;
    text-align: justify;
    font-size: 9pt;
    color:#7b7b7b;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    margin-top:60px;
    margin-right:20px;
    display:block;
}

.text-comment p::after {
    content: "❞";
    position:relative;
    font-family: Brandon;
    font-size: 15pt;
    line-height: 0;
    top:15px;
    display: inline-block;
    margin-left: 70px;
}
.text-comment p::before {
    content: "❝";
    font-family: Brandon;
    font-size: 15pt;
    line-height: 0;
    display: inline-block;
    position:relative;
    margin-right: -13px;
    right:15px;
}

.autor{
    text-align: justify;
    position:relative;
    font-size: 9pt;
    font-family: 'Loto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.autor .name{

    color:#f6772c;
    display:inline-block;
}

.autor .pos{
    color: #99a9ae;
    display:inline-block;
}

/* adres */
.adres{
    width: 100%;
    height: 1050px;
    text-align: center;
}

.adres h1{
    margin-top:50px;
    margin-bottom:-30px;
    font-size: 30pt;
    color:#394b50;
    font-family: 'Gotham', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.adres h2{
    font-size: 16pt;
    color:#75888d;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}

.adres-form{
    width: 100%;
    text-align:center;
    padding-top: 30px;
}

.adres-sub {
    position:relative;
    padding:5px 15px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    background-color: #ffbb42;
    width: 200px;
    height: 51px;
    top:-2px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
}

.adres-input{
    width: 260px;
    height: 48px;
    border:0 none;
    margin-right: 10px;
    border-right:1px solid #cbcbcb;
    border-top:1px solid #cbcbcb;
    border-bottom:1px solid #cbcbcb;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    color:#a9a9a9;
    font-size: 13pt;
    outline: none;
}

.adres .icon{
    position:relative;
    width:40px;
    top:-15px;
    height:50px;
    display: inline-block;
    border-left:1px solid #cbcbcb;
    border-top:1px solid #cbcbcb;
    border-bottom:1px solid #cbcbcb;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    background-color:#fff;
    text-align:center;
}

.adres .icon>img{
    position: relative;
    padding-left: 5px;
    top:17px;
}

.map{
    border-bottom: 1px solid #e3e7ec;
    margin-bottom: 3em;
    padding-bottom: 3em;
    position: relative;
}

.location {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #394b50;
    top: 135px;
    left: 45%;
    border-radius: 50%;
    /* не забываем о кроссбраузерности */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    text-align: center;
}

.location ::after {
    content: '';
    position: absolute;
    left: 130px;
    top: 235px;
    border: 20px solid transparent;
    border-top: 30px solid #394b50;
}

.text-center{
    position:relative;
    line-height: 1;
    font-size: 13pt;
    color: #aeb7ba;
    font-weight: 400;
}

.text-center h1{
    margin-top:50px;
    margin-bottom:10px;
    position:relative;
    font-size: 15pt;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
}

.text-center a{
    color:#ffbb42;
    text-decoration: none;
}

.locate{
    position: relative;
    top:77px;
    right:5px;
}

.map-logo{
    position:absolute;
    bottom:-70px;
    right:42%;
}

.map-link a{
    font-size: 13pt;
    font-weight: 400;
    font-family: 'Loto', sans-serif;
    color: #394b50;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin-right:30px;
    margin-top:30px;
}

.map-link-phone{
    margin-top:30px;
    font-size: 22.52pt;
    font-weight: 400;
    font-family: 'Loto', sans-serif;
    color: #394b50;
    display: inline-block;
    text-decoration: none;
}

.phone{
    position: relative;
    margin-right:30px;
    top:5px;
}

.social-icons{
    margin-top:30px;
}

.social-icons i {
    height: 25px;
    width: 25px;
    background: url(../images/img-sprite.png) no-repeat 0px 0px;
    display: inline-block;
    margin:0 0.5em;
}

i.twitter {
    background-position: -75px 0px;
}
i.twitter:hover {
    background-position: -75px -25px;
}
i.facebook {
    background-position: -100px 0px;
}
i.facebook:hover {
    background-position: -100px -25px;
}
i.googlepluse {
    background-position: -125px 0px;
}
i.googlepluse:hover {
    background-position: -125px -25px;
}
i.linkedin {
    background-position: -150px 0px;
}
i.linkedin:hover {
    background-position: -150px -25px;
}

/* footer */
footer{
    padding: 1.2em 0;
    font-size: 13pt;
    font-weight: 400;
    color:#fff;
    background-color: #709dca;
    text-align: center;
}